<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-7">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">商品添加</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="/v1/product/updateProduct" method="post" role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">商品名称</label>
              <input type="text" class="form-control" name="proName" placeholder="输入商品名称">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">商品折扣</label>
              <input type="number" step="0.01" class="form-control" name="proDisc" placeholder="输入商品折扣">
            </div>
            <!-- select -->
            <div class="form-group">
              <label>商品类型</label>
              <select class="form-control" name="category">
                <option value="0" selected>A 类</option>
                <option value="1">B 类</option>
                <option value="2">C 类</option>
                <option value="3">D 类</option>
              </select>
            </div>
          </div>
          <!-- /.box-body -->
          <input type="hidden" name="page" value="PC">
          <div class="box-footer text-right">
            <button type="submit" class="btn btn-primary">添加</button>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>

    <div class="col-md-5">
      <div class="box box-info">
        <div class="box-header box-border">
          <h3 class="box-title">upload poster</h3>
        </div>
        <form action="/v1/uploadImg" method="post" id="myForm" enctype='multipart/form-data'>
          <div class="box-body">
            <div class="col-sm-9" id="filesDetail">
              please selected the picture to upload
            </div>
            <div class="col-sm-3">
              <label for="uploadFile" class="btn btn-primary">select img</label>
              {{!-- <input type="file" id="uploadFile" style="display: none;" name="imgData"> --}}
              <input type="file" id="uploadFile" name="imgData">
            </div>
          </div>
          <div class="box-footer text-right">
            <button type="submit" class="btn btn-primary" id="uploadBtn">upload</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</section>

{{#section 'script'}}
<script>
  (function () {
    var uploadInput = $('#uploadFile')
    var reader = new FileReader();
    var imgArr = []

    if (window.FileReader) {
      // add your code here 
      uploadInput.on('change', function () {
        console.log(uploadInput.value)
        imgArr = [], i = 0
        console.log(this.files)
        var files = this.files

        Array.prototype.forEach.call(this.files, function (file, idx) {
          var reader = new FileReader();
          reader.readAsDataURL(file)
          reader.onloadend = function (e) {
            $('#filesDetail').html('')
            imgArr.push(e.target.result)
            
            if (imgArr.length === files.length) {
              console.log(imgArr)
              console.log($('#uploadInput').val())
              // uploadImage(imgArr) 
              renderImg(imgArr)
            }
          }
        })
      })
    }
    else {
      alert("Not supported by your browser!");
    }

    $('#uploadBtn').click(function() {
      // $('#myForm').submit()
    })

    function uploadImage(imgArr) {
      console.log(imgArr)
      $.post('/v1/uploadImg', {
        imgData: imgArr
      }, function(data) {
        console.log(data)
      })
    }

    function renderImg(imgArr) {
      Array.prototype.forEach.call(imgArr, function (img,idx) {
        var imgNode = new Image()
        imgNode.width = 100
        imgNode.height = 100
        imgNode.src = img
        imgNode.onload = function () {
          console.log(imgNode)
          $('#filesDetail').append(imgNode)
          imgArr.splice(idx,1,1)
        }
        imgNode.onerror = function (e) {
          alert('err', e)
        }
      })
    }

  })()

</script>
{{/section}}