    
<div class="footer-bef"></div>

<footer class="ui-footer ui-footer-stable ui-border-t">
    <ul class="ui-tiled">
    
        <li class="menu-item"><div><a class="ui-icon-home" href="/"></a></div></li>
        <li class="menu-item"><div><a class="ui-icon-hall" href="/productList"></a></li>
        <li class="menu-item"><div><a class="ui-icon-personal" href="/userCenter"></a></li>
    </ul>
</footer>