<header class="ui-header ui-header-positive">
    <i class="ui-icon-return" onclick="history.back()"></i>
    <h1>订单详情</h1>
</header>

<div class="ui-container">
    <ul class="ui-list ui-list-link ui-border-tb">
        {{#each orderList}}
            <li class="ui-border-t">
                <div class="ui-list-thumb">
                    <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">订单{{@index}}</h4>
                </div>
            </li>
        {{/each}}
    </ul>
</div>