
  {{> pcAdmin/header}}
  
  {{> pcAdmin/aside}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    {{> pcAdmin/userManger}}
  </div>
  <!-- /.content-wrapper -->
  {{> pcAdmin/footer}}

  {{!-- {{> pcAdmin/rightSideBar}} --}}
</div>