<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
    <li class="ui-border-t" data-url="/admin/addProduct">
        <h4>管理商品</h4>
    </li>
    {{!-- <li class="ui-border-t" data-url="/userManager"> --}}
    <li class="ui-border-t" data-url="/admin/addProduct">
        <h4 class="ui-nowrap">管理用户</h4>
    </li>
    <li class="ui-border-t" data-url="/setting">
        <h4>设置</h4>
    </li>
</ul>