<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
    <li class="ui-border-t" data-url="/admin/addProduct">
        <h4>manage products</h4>
    </li>
    {{!-- <li class="ui-border-t" data-url="/userManager"> --}}
    <li class="ui-border-t" data-url="/admin/addProduct">
        <h4 class="ui-nowrap">manage users</h4>
    </li>
    <li class="ui-border-t" data-url="/setting">
        <h4>setting</h4>
    </li>
</ul>