<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
    <li class="ui-border-t" data-url="/orderList">
        <h4>my orders</h4>
    </li>
    <li class="ui-border-t">
        <h4 class="ui-nowrap">my address</h4>
    </li>
    <li class="ui-border-t">
        <h4>setting</h4>
    </li>
</ul>