<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
    <li class="ui-border-t" data-url="/orderList">
        <h4>我的订单</h4>
    </li>
{{!--     
    <li class="ui-border-t">
        <h4 class="ui-nowrap">我的收货地址</h4>
    </li>
--}}
    <li class="ui-border-t" data-url="/orderList">
        <h4>设置</h4>
    </li>
</ul>