<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/v1/product/updateProduct" method="post", enctype="multipart/form-data">
        <div class="item-group">
            <span>product name</span>
            <input type="text" name="proName">
        </div>
        <div class="item-group">
            <span>product post</span>
            <input type="file" name="uploadPoster">
        </div>
        <div class="item-group">
            <span>product desc pictures</span>
            <input type="text" name="proPic">
        </div>
        <div class="item-group">
            <span>product discount</span>
            <input type="text" name="proDisc">
        </div>
        <button type="submit">submit</button>
    </form>
</body>
</html>