<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header class="ui-header ui-header-positive ui-border-b">
        <i class="ui-icon-return" onclick="history.back()"></i>
        <h1>基础样式 </h1><button class="ui-btn">回首页</button>
    </header>
    <section class="ui-txt-default">
        <span>cate A</span>
        <span>cate B</span>
        <a href="/admin/addProduct">addProduct</a>
        <a href="/signIn">login</a>
        <a href="/regist">regist</a>
        <a href="/logout">logout</a> user: {{user.name}}
    </section>
    <secion class="ui-panel">
        <h2 class="ui-arrowlink">pro1</h2>
        <ul class="ui-grid-halve">
            <li>
                <div class="ui-border">
                    <img class="item-pic" src="http://placeholder.qiniudn.com/170x150">
                    <span class="item-name">aaa</span>
                </div>
            </li>
            <li>
                <div class="ui-border">
                    <img class="item-pic" src="http://placeholder.qiniudn.com/170x150">
                    <span class="item-name">aaa</span>
                </div>
            </li>
            <li>
                <div class="ui-border">
                    <img class="item-pic" src="http://placeholder.qiniudn.com/170x150">
                    <span class="item-name">aaa</span>
                </div>
            </li>
            <li>
                <div class="ui-border">
                    <img class="item-pic" src="http://placeholder.qiniudn.com/170x150">
                    <span class="item-name">aaa</span>
                </div>
            </li>
            <li>
                <div class="ui-border">
                    <img class="item-pic" src="http://placeholder.qiniudn.com/170x150">
                    <span class="item-name">aaa</span>
                </div>
            </li>
        </ul>
    </secion>
</body>
</html>