{{#section 'head'}}
    <link rel="stylesheet" href="/css/index.css">
{{/section}}


<header class="ui-header ui-header-positive ui-border-b">
    <i class="ui-icon-home"></i>
    <div class="input-con">
        <input type="search" class="index-search">
    </div>
    <i class="ui-icon-search" id="search"></i>
</header>

<div class="ui-container ui-slider" id="slider1">
    <ul class="ui-slider-content" style="width: 300%">
        <li><span style="background-image:url(http://placeholder.qiniudn.com/640x300)"></span></li>
        <li><span style="background-image:url(http://placeholder.qiniudn.com/640x300)"></span></li>
        <li><span style="background-image:url(http://placeholder.qiniudn.com/640x300)"></span></li>
    </ul>
</div>

<section class="ui-container ui-panel">
    <h2 class="ui-arrowlink">门窗<span class="ui-panel-subtitle">1328种</span></h2>
    <ul class="ui-grid-trisect">
        <li>
            <div class="ui-border">
                <div class="ui-grid-trisect-img">
                    <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                </div>
                <div>
                    <h4 class="ui-nowrap-multi">产品1</h4>
                    <h5 class="ui-nowrap">AD231</h5>
                </div>
            </div>
        </li>
        <li>
            <div class="ui-border">
                <div class="ui-grid-trisect-img">
                    <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                </div>
                <div>
                    <h4 class="ui-nowrap-multi">产品2</h4>
                    <h5 class="ui-nowrap">AD232</h5>
                </div>
            </div>
        </li>
        <li>
            <div class="ui-border">
                <div class="ui-grid-trisect-img">
                    <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                </div>
                <div>
                    <h4 class="ui-nowrap-multi">产品3</h4>
                    <h5 class="ui-nowrap">AD233</h5>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="ui-container ui-panel">
    <h2 class="ui-arrowlink">把手<span class="ui-panel-subtitle">1328种</span></h2>
    <ul class="ui-grid-trisect">
        <li>
            <div class="ui-border">
                <div class="ui-grid-trisect-img">
                    <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                </div>
                <div>
                    <h4 class="ui-nowrap-multi">产品1</h4>
                    <h5 class="ui-nowrap">BZ211</h5>
                </div>
            </div>
        </li>
        <li>
            <div class="ui-border">
                <div class="ui-grid-trisect-img">
                    <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                </div>
                <div>
                    <h4 class="ui-nowrap-multi">产品1</h4>
                    <h5 class="ui-nowrap">BZ212</h5>
                </div>
            </div>
        </li>
        <li>
            <div class="ui-border">
                <div class="ui-grid-trisect-img">
                    <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                </div>
                <div>
                    <h4 class="ui-nowrap-multi">产品3</h4>
                    <h5 class="ui-nowrap">BZ213</h5>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="ui-container ui-panel">
    <h2 class="ui-arrowlink">地锁<span class="ui-panel-subtitle">1328种</span></h2>
    <ul class="ui-grid-trisect">
        <li>
            <div class="ui-border">
                <div class="ui-grid-trisect-img">
                    <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                </div>
                <div>
                    <h4 class="ui-nowrap-multi">产品1</h4>
                    <h5 class="ui-nowrap">NMR21</h5>
                </div>
            </div>
        </li>
        <li>
            <div class="ui-border">
                <div class="ui-grid-trisect-img">
                    <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                </div>
                <div>
                    <h4 class="ui-nowrap-multi">产品2</h4>
                    <h5 class="ui-nowrap">NMR22</h5>
                </div>
            </div>
        </li>
        <li>
            <div class="ui-border">
                <div class="ui-grid-trisect-img">
                    <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                </div>
                <div>
                    <h4 class="ui-nowrap-multi">产品3</h4>
                    <h5 class="ui-nowrap">NMR23</h5>
                </div>
            </div>
        </li>
    </ul>
</section>

{{#section 'script'}}
<script>
    (function(){

        var slider = new fz.Scroll('.ui-slider', {
            role: 'slider',
            indicator: true,
            autoplay: true,
            interval: 3000
        });

        slider.on('beforeScrollStart', function(from, to) {
            console.log(from, to);
        });

    })();
</script>
{{/section}}