{{#section 'head'}}
    <style>
        .ui-whitespace .signIn,
        .ui-whitespace .regist {
            margin-top: 10px;
        }
        .tips {
            margin-top: 10px;
            line-height: 25px;
            height: 25px;
        }
        .phone-check {
            margin-top: 25px;
        }
    </style>
{{/section}}

<header class="ui-header">
    <a href="/userCenter"><i class="ui-icon-return"></i></a>
    <h1>Regist Page</h1>
</header>
<div class="ui-container">
    <div class="ui-form ui-border-t">
        <div class="ui-form-item ui-border-b">
            <label for="uName">用户名：</label>
            <input type="text" placeholder="QQ号/手机号/邮箱" name="username" id="uName">
            <a href="#" class="ui-icon-close"></a>
        </div>
        <div class="ui-form-item ui-border-b">
            <label for="pwd">密码：</label>
            <input type="password" placeholder="长度至少为8位字符的密码" name="password" id="pwd">
            <a href="#" class="ui-icon-close"></a>
        </div>
        <div class="ui-form-item ui-border-b">
            <label for="cPwd">确认密码：</label>
            <input type="password" placeholder="再次输入密码" name="password" id="cPwd">
            <a href="#" class="ui-icon-close"></a>
        </div>
    </div>
</div>

<div class="ui-container">
    <div class="ui-form ui-border-t">
        <div class="ui-form-item ui-form-item-l ui-border-b">
            <label class="ui-border-r">
                中国 +86
            </label>
            <input type="text" placeholder="请输入手机号码">
            <a href="#" class="ui-icon-close">
            </a>
        </div>
        <div class="ui-form-item ui-form-item-r ui-border-b">
            <input type="text" placeholder="请输入验证码">
            <!-- 若按钮不可点击则添加 disabled 类 -->
            <button type="button" class="ui-border-l">重新发送</button>
            <a href="#" class="ui-icon-close"></a>
        </div>
    </div>
</div>
    <div class="ui-whitespace tips ui-txt-warning" id="tips"></div>
    <div class="ui-whitespace">
        <button class="regist ui-btn-lg ui-btn-primary" type="submit" id="submit">Regist</button>
    </div>

{{#section 'script'}} 
    <script>
        $(document).ready(function() {
            var subBtn = $('#submit')
            var tips = $('#tips')
            var timeStamp = 500
            var flag = true

            subBtn.tap(function(e) {
                var uName = $('#uName').val()
                var pwd = $('#pwd').val()
                var cpwd = $('#cPwd').val()
                var myForm = $('#myForm')
                var reqUrl = '/v1/user/regist'

                if (flag) {
                    flag = !flag

                    if (!pwd || !cpwd) {
                        tips.html('<span>密码不能为空</span>')
                    } else if ( pwd !== cpwd ) {
                        tips.html('<span>两次输入的密码不匹配！！</span>')
                    } else {
                        $.post(reqUrl, {
                            username: uName,
                            password: pwd
                        }, function(response) {
                            console.log(response)
                            if (response.flag) {
                                window.location.href = '/userCenter'
                            } else {
                                tips.html('<span>'+ response.mes +'</span>')
                            }
                        })
                    }

                    setTimeout(function() {
                        flag = !flag
                    }, timeStamp)
                }
            })

            $('.ui-icon-close').tap(function() {
                console.log($(this).parent().find('input'))
                $(this).parent().find('input').val('')
            })
        })
    </script>
{{/section}} 