<!DOCTYPE html>
<html lang="en">
<header class="ui-header"></header>
<div class="ui-form ui-border-t">
    <form action="/v1/user/signIn" method="post">
        <div class="ui-form-item ui-form-item-pure ui-border-b">
            <input type="text" placeholder="QQ号/手机号/邮箱" name="name">
            <a href="#" class="ui-icon-close"></a>
        </div>
        <div class="ui-form-item ui-form-item-pure ui-border-b">
            <input type="password" placeholder="密码" name="password">
            <a href="#" class="ui-icon-close"></a>
        </div>
        <div class="ui-form-item ui-form-item-r ui-border-b">
            <input type="text" placeholder="请输入验证码">
            <!-- 若按钮不可点击则添加 disabled 类 -->
            <button type="button" class="ui-border-l">重新发送</button>
            <a href="#" class="ui-icon-close"></a>
        </div>
        <div class="ui-whitespace ui-container">
            <button class="ui-btn-lg ui-btn-primary" type="submit">submit</button>
        </div>
    </form>
</div>