{{#section 'head'}}
	<link rel="stylesheet" href="/css/userCenter.css">
    <style>
        .tips {
            margin-top: 10px;
            height: 25px;
            line-height: 25px;
        }
    </style>
{{/section}}

{{#if user}}
    <header class="ui-header"></header>
    <div class="ui-container user-head ui-center">
        <div class="ui-avatar-xlg">
            <span style="background-image:url(http://placeholder.qiniudn.com/140x140)"></span>
        </div>
            <span class="user-name">{{user.name}}</span>
    </div>

    <div class="ui-container" id="menu">
    {{#compare user.role 10 }}
        {{> userCenter/user}}
    {{else}}
        {{> userCenter/admin}}
    {{/compare}}
    </div>
    <div class="ui-whitespace ui-container">
        <a href="/logout"><button class="ui-btn-danger ui-btn-lg">退出登录</button></a>
    </div>

{{else}}
    <header class="ui-header"></header>
    <div class="ui-container user-head ui-center">
        <div class="ui-avatar-xlg">
            <span style="background-image:url(http://placeholder.qiniudn.com/140x140)"></span>
        </div>
            <span class="user-name">名创五金</span>
    </div>

    <div class="ui-container">
        <div class="ui-form ui-border-t">
            <div class="ui-form-item ui-form-item-pure ui-border-b">
                <input type="text" placeholder="QQ号/手机号/邮箱" name="name" id="name">
                <a href="#" class="ui-icon-close"></a>
            </div>
            <div class="ui-form-item ui-form-item-pure ui-border-b">
                <input type="password" placeholder="密码" name="password" id="password">
                <a href="#" class="ui-icon-close"></a>
            </div>
            <div class="ui-form-item ui-form-item-r ui-border-b">
                <input type="text" placeholder="请输入验证码">
                <!-- 若按钮不可点击则添加 disabled 类 -->
                <button type="button" class="ui-border-l">重新发送</button>
                <a href="#" class="ui-icon-close"></a>
            </div>
        </div>
        <div class="ui-whitespace ui-txt-warning tips" id="tips"></div>
        <div class="ui-whitespace ui-container">
            <button class="signIn ui-btn-lg ui-btn-primary" id="submit">登录</button>
            <a href="/regist" class="regist ui-btn-lg">注册</a>
        </div>
    </div>
{{/if}}

{{#section 'script'}}
<script>
    $(document).ready(function() {
        var menu = $('#menu')
        var subBtn = $('#submit')
        var tips = $('#tips')
        var timeStamp = 500
        var flag = true

        // 登录功能
        subBtn.tap(function(e) {
            var name = $('#name').val()
            var pwd = $('#password').val()
            var reqUrl = '/v1/user/signIn'

            if (flag) {
                flag = !flag
                if (!name) {
                    tips.html('<span>用户名不能为空</span>')
                } else if (!pwd) {
                    tips.html('<span>密码不能为空</span>')
                } else {
                    $.post(reqUrl, {
                        username: name,
                        password: pwd
                    }, function(response) {
                        console.log(response)
                        if (response.flag === 1) {
                            window.location.reload()
                        } else {
                            tips.html('<span>'+ response.mes +'</span>')
                        }
                    })
                }

                setTimeout(function() {
                    flag = !flag
                }, timeStamp)
            }
        })

        // 输入框后面的清除按钮功能
        $('.ui-icon-close').tap(function() {
            console.log($(this).parent().find('input'))
            $(this).parent().find('input').val('')
        })

        // 登录成功后菜单跳转
        menu.find('li').each(function(idx, item) {
            console.log('this:', $(this))
            console.log('item:', $(item))
            var url = $(this).data('url')

            $(this).tap(function() {
                window.location.href = url
            })
            console.log(url)

        })
    })
</script>

{{/section}}