<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/frozen.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/plugins/zepto.min.js"></script>
    <script src="/js/frozen.js"></script>
    {{{_sections.head}}}
</head>
<body>
	this is main layout page
	<a href="/">back</a>

	{{{ body }}}

	{{> footer}}
</body>
{{{_sections.script}}}
</html>